*8*

In [5]:
import pandas as pd
import numpy as np

In [17]:
df = pd.DataFrame()
values = [1, 2, 3, 4, 5]

for i in range(len(values)):
    column_name = f'Column{i+1}'
    df[column_name] = values[i]
print(df)

Empty DataFrame
Columns: [Column1, Column2, Column3, Column4, Column5]
Index: []

In [18]:
#col_names
df.columns

Index(['Column1', 'Column2', 'Column3', 'Column4', 'Column5'], dtype='object')

In [20]:
#rename
df = df.rename(columns = {'Column1': 'A'})
df.columns

Index(['A', 'Column2', 'Column3', 'Column4', 'Column5'], dtype='object')

In [22]:
import seaborn as sns
penguin = sns.load_dataset('penguins')

In [23]:
penguin.head(1)

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,Male

In [24]:
#unique values
uniq_island = penguin['island'].unique()
uniq_island

array(['Torgersen', 'Biscoe', 'Dream'], dtype=object)

In [27]:
#index numbeer
bill_depth = penguin['bill_depth_mm']
for i in range(len(bill_depth)):
  if bill_depth[i] == 18:
    print(i)

2
40
65
90
129

In [29]:
#new_column
df = pd.DataFrame({'A': [1, 2, 3, 4, 5]})

df['B'] = df['A'] * 2

In [32]:
df['C'] = [0 if x > 3 else 1 for x in df['A']]

In [34]:
#frequency
penguin['island'].value_counts()

Biscoe       168
Dream        124
Torgersen     52
Name: island, dtype: int64

In [41]:
#split
df = pd.DataFrame({'Text': ['Hello World', 'OpenAI Model', 'Data Science']})

df[['Column1', 'Column2']] = df['Text'].str.split(' ', 1, expand=True)

print(df)

           Text Column1  Column2
0   Hello World   Hello    World
1  OpenAI Model  OpenAI    Model
2  Data Science    Data  Science

<ipython-input-41-04898da02f8f>:4: FutureWarning: In a future version of pandas all arguments of StringMethods.split except for the argument 'pat' will be keyword-only.
  df[['Column1', 'Column2']] = df['Text'].str.split(' ', 1, expand=True)

In [42]:
#index numbeer of min and max

for i in range(len(bill_depth)):
  if bill_depth[i] == bill_depth.min():
    print(i)

244

In [44]:
for i in range(len(bill_depth)):
  if bill_depth[i] == bill_depth.max():
    print(i)

19

In [47]:
penguin['bill_depth_mm'] - penguin['bill_length_mm']

0     -20.4
1     -22.1
2     -22.3
3       NaN
4     -17.4
       ...
339     NaN
340   -32.5
341   -34.7
342   -30.4
343   -33.8
Length: 344, dtype: float64

In [ ]:
# n larget value

In [ ]:
# n smallest value

In [ ]:
#drop columns
df.drop[['Column1', 'Column2']]

9.

In [48]:
my_array = np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]])

df = pd.DataFrame(my_array)

In [49]:
dict = {
    'Name': ['John', 'Emma', 'Peter', 'Olivia'],
    'Age': [25, 28, 30, 27],
    'City': ['New York', 'London', 'Paris', 'Sydney']
}
df = pd.DataFrame(dict)

In [50]:
names = ['John', 'Emma', 'Peter', 'Olivia']
ages = [25, 28, 30, 27]
cities = ['New York', 'London', 'Paris', 'Sydney']
df = pd.DataFrame({'Name': names, 'Age': ages, 'City': cities})

In [52]:
import numpy as np
data = np.random.rand(3, 3)

column_names = ['Column1', 'Column2', 'Column3']
df = pd.DataFrame(data, columns=column_names)
df

    Column1   Column2   Column3
0  0.227617  0.443807  0.667763
1  0.576148  0.189635  0.303303
2  0.094536  0.665263  0.538642

In [55]:
#access element
df['Column1'][0]

0.22761666872227593

In [56]:
#data time format
df = pd.DataFrame({'Date': ['2022-01-01', '2022-02-01', '2022-03-01']})
df['Date'] = pd.to_datetime(df['Date'])
df

        Date
0 2022-01-01
1 2022-02-01
2 2022-03-01